<div class="documents-index-page">
  <h1 class="page-title">DOCUMENTOS</h1>

  <table class="documents-table">
    <thead>
    <tr>
      <th>Nome</th>
      <th>Arquivo</th>
      <th>Processamento</th>
      <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <% @documents.each do |document| %>
      <tr data-turbo-frame="document_<%= document.id %>">
        <td><%= document.name %></td>
        <td>
          <%= link_to 'Download', download_document_path(document), class: 'btn btn-view' %>
        </td>
        <td id="document_<%= document.id %>_status"><%= document.status.humanize %></td>
        <td class="actions">
          <%= button_to 'Deletar', document_path(document), method: :delete, data: { confirm: 'Você tem certeza?', turbo: false }, class: 'btn btn-delete' %>
          <%= link_to 'Visualizar', document_path(document), class: 'btn btn-view-report' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <%= link_to 'Upload de XML', new_document_path, class: 'btn btn-upload' %>

  <%= turbo_stream_from "document_channel" %>
</div>
