<h1 class="upload-title">Make upload of a XML document</h1>

<%= form_for @document, html: { class: "upload-form" } do |f| %>

  <% if @document.errors.any? %>
    <p class="form-errors"><%= @document.errors.full_messages.to_sentence.capitalize %></p>
  <% end %>

  <div class="form-group">
    <%= f.label :name, "Name", class: "form-label" %>
    <%= f.text_field :name, class: "form-input" %>
  </div>

  <div class="form-group">
    <%= f.label :upload, "File", class: "form-label" %>
    <%= f.file_field :upload, class: "form-input" %>
  </div>

  <div class="form-actions">
    <%= link_to "CANCEL", root_path, class: "btn btn-cancel" %>
    <%= f.submit "Upload", class: "btn btn-upload", data: { turbo: false } %>
  </div>

<% end %>
